@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-size: 12.8px;
  font-family: 'Poppins', sans-serif;
}

#login-container, #login-container .row {
  background-image: url('./login-bg.jpg');
  background-size: cover;
  min-height: 100vh;
}

#root {
    overflow: hidden;
}

#wrapper {
  width: 100% !important;
  padding-left: 255px !important;
}

#wrapper .content {
  padding-top: 75px !important;
}